<div class="row" id="cards">
    <div class="col-md-6" *ngFor="let movie of movieArray">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{movie.Poster}}" alt="Movie Poster" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.Title}}</h5>
                        <p class="card-text">{{movie.Year}}</p>
                        <p class="card-text">{{movie.Genre}}</p>
                        <p class="card-text">{{movie.Country}}</p>
                        <p class="card-text"><app-rating [ratings]="movie.Ratings"></app-rating></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>