<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Encuentra la información de tus películas favoritas aquí!</p>
    <i class="fa fa-film" id="page-logo"></i>
  </div>
</div>

<!--Inputs-->
<div class="container">
  <div class="row" id="inputs">
    <div class="col-md-6" id="titleDiv">
      <label for="movie-title">Título: </label>
      <input type="text" id="movie-title" required [(ngModel)]="movieTitle">
    </div>
    <div class="col-md-6" id="yearDiv">
      <label for="movie-year">Año: </label>
      <input type="text" id="movie-year" [(ngModel)]="movieYear">
      <button type="submit" class="btn btn-danger" (click)="searchMovies()"><i
            class="fa fa-search"></i></button>
    </div>
  </div>
</div>

<!--Al cargar la página-->
<div class="cont" *ngIf="showHint">
  <div class="row">
    <h2>Ingresa arriba la película que deseas buscar!</h2>
  </div>
</div>

<!--Movie Cards-->
<app-movie-card *ngIf="movieData" [movies]="movieData"></app-movie-card>